nav ul{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: bold;
}
a {
  text-decoration: none;
  color: rgb(153, 153, 153);
}
h1 {
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  margin: 5em 0 0.5em;
  text-align: center;
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: rgb(51, 51, 51);
  text-align: center;
}
ul {
  margin-left: auto;
}
li {
  font-size: 1.2em;
  padding-right: 5em;
}
footer {
  border-top: 1px solid #d5d5d5;
  text-align: center;
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100%;
}
.navbar-brand {
  font-weight: 600;
  margin-left: 0.5em;
  font-size: 1.8em;
}
